---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Footer from "@components/footer.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout title="">
  <Container>
    <Hero />
    <Features />
    <Logos />
    <Cta />
  </Container>
</Layout>

<script>
  import {config} from "../config"
  console.log('init')

  document.addEventListener("DOMContentLoaded", function(event) {
    console.log('DOMContentLoaded')

    async function sendVisitEvent(){
      console.log('send visit event')
      const response = await fetch(`https://nextjs-twitter-api.vercel.app/api/analytics-upstream?ev=visit&pid=${config.product_id}&ref=astro`, {method: 'POST'});
      const data = await response.json();
      console.log('data: '+JSON.stringify(data))
    }
    sendVisitEvent().catch(console.erorr)
  });
</script>