---
import { Picture } from "@astrojs/image/components";
//import heroImage from "assets/hero.png";
import heroImage from "assets/screenshot_credit_card_tailwind.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";

import {config} from "../config"
import EnrollForm from "@components/enrollform.astro";

---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="px-8 py-6 md:order-1 hidden md:block">
    <Picture
      src={config.hero_src || heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div class="px-8">
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      {config.title||"Your Landing"}
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      {
        config.subtitle || `Astroship is a starter template for startups, marketing websites & landing
        pages. Built with Astro.build and TailwindCSS. You can quickly create
        any website with this starter.`
      }
    </p>

    {
      config.cta_type == "buttons" ?
        <div class="mt-6 flex flex-col sm:flex-row gap-3">
          <Link
            href="#"
            target="_self"
            class="flex gap-1 items-center justify-center"
            rel="noopener"
            data-confetti-button
          >
            <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

            {config.cta||"Download for Free"}

          </Link>
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href="https://github.com/surjithctly/astroship"
            class="flex gap-1 items-center justify-center"
            target="_blank">
            <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
            GitHub Repo
          </Link>
        </div>
        :
        <div class="mt-8">
          <EnrollForm />
        </div>
    }

  </div>
</main>

<script>
  // Import npm modules.
  import confetti from 'canvas-confetti';
  import {config} from "../config"

  // Find our component DOM on the page.
  const buttons = document.querySelectorAll('[data-confetti-button]');

  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    const params = {
      particleCount: 500,
      spread: 160
    }
    button.addEventListener('click', () => {
        confetti(params)

        fetch(`https://nextjs-twitter-api.vercel.app/api/analytics-upstream?ev=conversion&pid=${config.product_id}&ref=astro`, {method: 'POST'})
          .then(response => response.json())
          .then(data => {
              console.log('data conv: '+JSON.stringify(data))
            }
          )
      }
    );
  });
</script>